<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{package.name}} info</title>
  </head>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="shortcut icon" href="favicon.ico?v=2"/>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" id="con_state">connecting</a>
          <a class="navbar-brand" href="https://github.com/wactbprot/ssmp">{{package.name}} version: {{package.version}}</a>
          <a class="navbar-brand" href="http://localhost:5984/vl_db/_design/dbmp/_list/overview/mpdocs"> mpdocs </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>state</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>message</th>
                <th>atime</th>
              </tr>
            </thead>
            <tbody id="state_body"></tbody>
          </table>
        </div>

        <div class="col-md-6">
          <h3>worker</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>message</th>
                <th>atime</th>
              </tr>
            </thead>
            <tbody id="worker_body"></tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>exchange</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>message</th>
                <th>atime</th>
              </tr>
            </thead>
            <tbody id="exchange_body"></tbody>
          </table>
        </div>

        <div class="col-md-6">
          <h3>recipe</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>message</th>
                <th>atime</th>
              </tr>
            </thead>
            <tbody id="recipe_body"></tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>container observation</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>message</th>
                <th>atime</th>
              </tr>
            </thead>
            <tbody id="container_obs_body"></tbody>
          </table>
        </div>
      </div>

    </div>

    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/socket.io-1.3.5.js"></script>
    <script src="/js/conn.js"></script>
    <script src="/js/pubsub.js"></script>

  </body>
</html>