[Unit]
Description=The measurement definition interpreter.
After=network.target
Wants=relayServer.service

[Service]
User=wwwrun
Group=www
Type=idle
#StandardOutput=null
#StandardError=null
WorkingDirectory=/usr/local/share/ssmp
ExecStart=/usr/local/share/ssmp/bin/start 

[Install]
WantedBy=multi-user.target
