<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{default.app.name}} defaults</title>
  </head>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="shortcut icon" href="favicon.ico?v=2"/>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
          <a class="navbar-brand" href="../">{{default.app.name}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="../devel">devel</a></li>
            <li class="active"><a href="../defaults">defaults</a></li>
            <li><a href="../pubsub">pubsub</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">      
        {{#each default}}
        <div class="col-xs-6 col-lg-4">
            <h3>{{@key}}</h3>
            <p>
              <ul class="list-group">
                {{#each .}}
                <li class="list-group-item">
                  <b>
                    {{@key}}:
                  </b> {{.}}
                </li>
                {{/each}}
              </ul>
            </p>
        </div>
      {{/each}}
      </div><!-- /row -->
    </div> <!-- /container -->
    
   <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/socket.io-1.3.5.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>