<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{package.name}}</title>
  </head>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="favicon.ico?v=2"/>
  
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <div class="navbar-header">
                <a class="navbar-brand" id="con_state">connecting</a>
              </div>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="../index">index</a></li>
                  <li><a href="../devel">devel</a></li>
                  <li><a href="../defaults">defaults</a></li>
                  <li><a href="../pubsub">pubsub</a></li>
                </ul>
              </nav>
            </div>
          </div>
          
          <div class="inner cover">
            <h1 class="cover-heading">{{package.name}}</h1>
            <p class="lead">version: {{package.version}}</p>
            <p class="lead">{{package.description}}</p>
          </div>
          
          <div class="mastfoot">
            <div class="inner">
              <p><a href="https://github.com/wactbprot/ssmp">ssmp@github</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/socket.io-1.3.5.js"></script>
    <script src="/js/conn.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>