<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>info@{{appname}}</title>
  </head>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/info.css">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">info@{{appname}}</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <section>
        <h2>Defaults</h2>
      </section>

      <div class="row">      
        {{#each default}}
        <div class="col-md-3">
          <section>
            <h3>{{@key}}</h3>
            <p>
              <ul>
                {{#each .}}
                <li><b>{{@key}}:</b> {{.}}</li>
                {{/each}}
              </ul>
            </p>
          </section>
        </div>
      {{/each}}
      </div><!-- /row -->
    </div> <!-- /container -->
    
   <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>