<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>info@{{appname}}</title>
  </head>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/info.css">

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <section>
        <h1>{{appname}} info</h1>
        <p></p>
      </section>
    </div> <!-- /container -->
    
   <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>